# Python cache files
__pycache__/

# VS Code workspace
.vscode/

# Data folders
data/raw/
data/clean/
data/raw_benchmark/
data/clean_benchmark/

# Streamlit pages
Home.py
pages/
sidebar.py

# Utils folder
utils/visuaizations_st.py
utils/reporting_st.py